<% include ../partials/header.ejs %>
	<div class="page-wrapper">
            <% include ../partials/sidenav.ejs %>
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <% include ../partials/topnav.ejs %>

            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    <strong>Student Details</strong>
                                    
                                </div>
                                <div class="card-body card-block">
                                	<div class="row">
                                		<div class="col col-lg-4">
                                		<img src="public/assets/image/icon/avatar-05.jpg">
		                            	</div>
		                            	<div class="col col-lg-8">
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Student Information</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Student Name: </strong> hasnath rahman</p>
		                            		<p style="margin-bottom: 10px;"><strong>Blood Group: </strong> </p>
		                            		<p style="margin-bottom: 10px;"><strong>Birth Date: </strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Telephone Number Of Student: </strong></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Guardian Information</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Father Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Mother Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Father Occupation:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Mother Occupation:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Father Yearly income:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Local Guardian Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Guardian Mobile Number:</strong></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;" >Permanant Address</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Village/Colony Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Street Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Post Code:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Thana Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Telephone Number:</strong></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;">Present Address</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Village/Colony Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Street Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Post Code:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>District:</strong></p>
		                            		<h3 style="background-color:#263238; color: #FFFFFF;padding: 10px;">Examination Name</h3>
		                            		<p style="margin-bottom: 10px;"><strong>Exam Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Department:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Board Name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Institute name:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Roll Number:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Session:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Examination center:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Passing Year:</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Total Number/GPA(Without 4th Subject):</strong></p>
		                            		<p style="margin-bottom: 10px;"><strong>Total Number/GPA(With 4th Subject):</strong></p>
		                            	</div>
                                		
                                	</div>
                                	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
               


<% include ../partials/footer.ejs %>