<% include ../partials/header.ejs %>
	<div class="page-wrapper">
            <% include ../partials/sidenav.ejs %>
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <% include ../partials/topnav.ejs %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <!-- Changed it to localhost -->
                        <form action="http://127.0.0.1:5000/form" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <!-- new change -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            
                                            <small>Choose</small>
                                            <strong>Form</strong>
                                        </div>
                                        <div class="card-body card-block">
                                                <label for="department_name" class="control-label mb-1">Department</label>
                                                <select name="form_details" id="Form_Details" class="form-control mb-1">
                                                    <option value="" selected="" disabled>Please select</option>
                                                    <option value="Intermediate">Intermediate</option>
                                                    <option value="Honours">Honours</option>
                                                    <option value="Masters">Masters</option>
                                                    <option value="Degree">Degree</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of new change -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                                <strong>Student</strong>
                                                <small> Information</small>
                                            </div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <input id="s_id" name="s_id" type="number" hidden>
                                                    <label for="s_name" class="control-label mb-1">Student Name</label>
                                                    <input id="s_name" name="student_name" type="text" class="form-control" placeholder="Enter Student Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Blood-group" class="control-label mb-1">Blood Group</label>
                                                    
                                                    <select name="blood_group" id="Blood-group" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="A+">A+</option>
                                                        <option value="B+">B+</option>
                                                        <option value="O+">O+</option>
                                                        <option value="AB+">AB+</option>
                                                        <option value="A-">A-</option>
                                                        <option value="B-">B-</option>
                                                        <option value="O-">O-</option>
                                                        <option value="AB-">AB-</option>
                                                    </select>
                                                    <label for="Birth_date" class="control-label mb-1">Birth Date</label>
                                                    <input id="Birth_date" name="d_birth" type="date" class="form-control valid" placeholder="Enter Birth date ">
                                                     <label for="Religion" class="control-label mb-1">Religion</label>
                                                    <select name="religion" id="Religion" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="Hindu">Hindu</option>
                                                        <option value="Muslim">Muslim</option>
                                                        <option value="Christian">Christian</option>
                                                        <option value="Buddhism">Buddhism</option>
                                                        <option value="Other">Other</option>
                                                        
                                                    </select>
                                                    
                                                    
                                                    
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label class=" form-control-label">Maritial Status</label>
                                                    </div>
                                                    <div class="col col-md-8">
                                                        <div class="form-check-inline form-check">
                                                            <label for="inline-radio1" class="form-check-label mr-1">
                                                                <input type="radio" name="maritial_status" value="Married">Married
                                                            </label>
                                                            <label for="inline-radio2" class="form-check-label ">
                                                                <input type="radio" name="maritial_status" value="Unmarried">Unmarried
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Tel_number" class="control-label mb-1">Telephone Number Of Student</label>
                                                    <input id="Tel_number" name="tel_number" type="text" class="form-control valid" placeholder="Enter Student Telephone Number" value="+880">
                                                </div>
                                               <div class="row form-group">
                                                   <div class="col col-md-3">
                                                       <label for="file-input" class=" form-control-label">File input</label>
                                                   </div>
                                                   <div class="col-12 col-md-9">
                                                       <input type="file" id="files" name="Stdnt_image" class="form-control-file">
                                                       <output id="list" style="width: 100px;height: 100px;"></output>
                                                   </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>Guardian</strong>
                                                <small> Information</small>
                                            </div>
                                            <div class="card-body card-block">
                                                <div class="form-group">
                                                    <label for="Father_name" class=" form-control-label">Father Name</label>
                                                    <input type="text" id="Father_name" name="father_name" placeholder="Enter your Father name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Mother_name" class=" form-control-label">Mother Name</label>
                                                    <input name="mother_name" type="text" id="Mother_name" placeholder="Enter your Mother name" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="f_occupation" class=" form-control-label">Father Occupation</label>
                                                    <input type="text" name="f_occupation" id="f_occupation" placeholder="Enter Father Occupation" class="form-control">
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="mother_occupation" class=" form-control-label">Mother Occupation</label>
                                                            <input name="m_occupation" type="text" id="mother_occupation" placeholder="Enter Mother Occupation" class="form-control">
                                                        </div>
                                                    </div>
                                                <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="f_income" class=" form-control-label">Father Yearly income</label>
                                                            <input name="f_income" type="number" id="f_income" placeholder="Enter  Father's Yearly Income" class="form-control">
                                                        </div>
                                                    
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="g_tel" class=" form-control-label">Guardian Mobile Number</label>
                                                        <input name="g_tel" type="text" id="g_tel" placeholder="Enter  Guardian Mobile Number" class="form-control" value="+880">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="g_name" class=" form-control-label">Local Guardian Name(Optional)</label>
                                                        <input name="g_name" type="text" id="g_name" placeholder="Enter Local  Guardian Name" class="form-control" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                                <strong>Permanent</strong>
                                                <small> Address</small>
                                            </div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <label for="Village" class="control-label mb-1">Village/Colony Name</label>
                                                    <input id="Village" name="v_name" type="text" class="form-control" placeholder="Village Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Street_name" class="control-label mb-1">Street Name</label>
                                                    <input id="Street_name" name="strt_name" type="text" class="form-control valid" placeholder="Enter Street Name">
                                                    <label for="Post_office" class="control-label mb-1">Post Code</label>
                                                    <input id="Post_office" name="post_office" type="text" class="form-control valid" placeholder="Enter Post Office">
                                                    <label for="Thana_Name" class="control-label mb-1">Thana Name</label>
                                                    <input id="Thana_Name" name="thana_name" type="telephone" class="form-control valid" placeholder="Enter Thana Name">

                                                    <label for="Telephone_number" class="control-label mb-1">Telephone Number</label>
                                                    <input id="Telephone_number" name="tel_num" type="telephone" class="form-control valid" placeholder="Enter telephone number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>Present</strong>
                                                <small> Address</small>
                                            </div>
                                            <div class="card-body card-block">
                                                <div class="form-group">
                                                    <label for="Village" class="control-label mb-1">Village/Colony Name</label>
                                                    <input id="Village" name="p_village" type="text" class="form-control" placeholder="Village Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Street_name" class="control-label mb-1">Street Name</label>
                                                    <input id="Street_name" name="p_street" type="text" class="form-control valid" placeholder="Enter Street Name">
                                                    <label for="Post_office" class="control-label mb-1">Post Code</label>
                                                    <input id="Post_office" name="p_post" type="text" class="form-control valid" placeholder="Enter Post Office">
                                                    <label for="Thana" class="control-label mb-1">Thana name</label>
                                                    <input id="Thana" name="p_thana" type="text" class="form-control valid" placeholder="Enter Thana Name">
                                                    </div>
                                                    <label for="p_district" class="control-label mb-1">District</label>
                                                    <input id="p_district" name="p_district" type="text" class="form-control valid" placeholder="Enter District Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>Student</strong>
                                                <small> Result</small>
                                            </div>
                                            <div class="card-body card-block">
                                                <div class="form-group">
                                                    <label for="Exam" class="control-label mb-1">Exam Name</label>
                                                    <!-- <input id="Exam" name="exam_name" type="text" class="form-control"placeholder="Exam Name"> -->
                                                    <select name="exam_name" id="Exam" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="SSC">Secondary School Certificate</option>
                                                        <option value="HSC">Higher Secondary Certificate</option>
                                                        <option value="Degree">Degree</option>
                                                        <option value="BSC">Bachelor of Science</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Department" class="control-label mb-1">Subject</label>
                                                    <!-- <input id="Department" name="department" type="text" class="form-control valid" placeholder="Enter Department Name"> -->
                                                    <select name="department" id="Department" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="Science">Science</option>
                                                        <option value="Arts">Arts</option>
                                                        <option value="Commerce">Commerce</option>
                                                        
                                                    </select>
                                                    <label for="board_name" class="control-label mb-1">Board Name</label>
                                                    <select name="board_name" id="board_name" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="Dhaka">Dhaka</option>
                                                        <option value="Syllet">Syllet</option>
                                                        <option value="Chittagong">Chittagong</option>
                                                        <option value="Comilla">Comilla</option>
                                                        <option value="Jessore">Jessore</option>
                                                        <option value="Mymensingh">Mymensingh</option>
                                                        <option value="Rajshahi">Rajshahi</option>
                                                        <option value="Dinajpur">Dinajpur</option>
                                                    </select>
                                                    <label for="i_name" class="control-label mb-1">Institute name</label>
                                                    <input id="i_name" name="i_name" type="text" class="form-control valid" placeholder="Enter Institute Name">
                                                    </div>
                                                    <label for="roll_number" class="control-label mb-1">Roll Number</label>
                                                    <input id="roll_number" name="roll_number" type="number" class="form-control"  placeholder="Enter Roll Number">
                                                    <label for="Session" class="control-label mb-1">Session</label>
                                                    <select name="session" id="Session" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <option value="2013-14">2013-14</option>
                                                        <option value="2015-16">2015-16</option>
                                                        <option value="2017-18">2017-18</option>
 
                                                    </select>
                                                    <label for="exam_center" class="control-label mb-1">Examination center</label>
                                                    <input id="exam_center" name="exam_center" type="text" class="form-control valid"  placeholder="Enter examination center">
                                                    <label for="Passing_year" class="control-label mb-1">Passing Year</label>
                                                    
                                                    <select name="passing_year" id="Passing_year" class="form-control mb-1">
                                                        <option value="" selected="" disabled>Please select</option>
                                                        <script type="text/javascript">
                                                            var myDate = new Date();
                                                            var Year = myDate.getFullYear();
                                                            for (var i = 1990; i<=Year; i++) {
                                                                document.write('<option value="'+i+'">'+i+'</option>');
                                                            }
                                                        </script>
                                                    
                                                    </select>
                                                    
                                                    <label for="gpa" class="control-label mb-1">Total Number/GPA(Without 4th Subject)</label>
                                                    <input id="gpa" name="gpa_number" type="number" class="form-control valid"  placeholder="Enter Total Number(Without 4th Subject)" min="0.00" max="4.01" step="0.10" value="0.00">
                                                    <label for="with_gpa" class="control-label mb-1"><b>Total Number/GPA(With 4th Subject)</b></label>
                                                    <input id="with_gpa" name="gpa_num" type="number" class="form-control valid" placeholder="Enter Total Number(With 4th Subject)" min="0.00" max="5.01" step="0.10" value="0.00">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary btn-lg">
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-lg" onclick="window.location.reload()">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                

                        </form>
                    </div>
                </div>
            </div>                                                                                                
  <% include ../partials/footer.ejs %>          